@model Budgeter.Models.BudgetItemsIndexViewModel
@{
    ViewBag.Title = "Details";
}

<link href="~/Content/transaction-form-style.css" rel="stylesheet">

<h2>@ViewBag.BudgetName</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <table class="table">
              

            </table>
            <table class="table">

            </table>
        </div>
        <div class="col-lg-4">
            <div id="form-placeholder">
           </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $(".delete").click(function () {
            $("#restore-transaction-placeholder").empty();
            var myId = $(this).attr('id');
            $("#restore-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_RestoreTransaction" });
        });
});
    </script>
}
