@{
    ViewBag.Title = "About Budgeter";
}
<h2>About Budgeter</h2>

<p>Budgeter allows you and members of your household to create monthly budgets and compare them with transactions in your account.</p>
