@using Microsoft.AspNet.Identity
@using Budgeter.Models

@{
    ViewBag.Title = "Dashboard";
}

<h2>@ViewBag.BudgetName</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="col-md-12">
                <div id="categories-spending-bar">Spending vs. Budget by category</div>
            </div>
            <div class="col-md-4">
                <div id="income-spending-bar">Income vs. spending</div>
            </div>
            <div class="col-md-4">
                <div id="expense-categories-pie">Expense Transactions</div>
            </div>
            <div class="col-md-4">
                <div id="income-categories-pie">Income Transactions</div>
            </div>            
        </div>
    </div>
</div>
