@using Microsoft.AspNet.Identity
@using Budgeter.Models

@{
    ViewBag.Title = "Dashboard";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

<h2>@ViewBag.BudgetName</h2>

<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div id="categories-spending-bar" style="height: 250px;">Spending vs. Budget by category</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>Accounts/Balances</div>
        </div>
        <div class="col-md-6">
            <div>Recent Transactions</div>
        </div>
    </div>
    <div class="row">    
        <div class="col-md-4">
            <div id="income-spending-bar" style="height: 250px;">Income vs. spending</div>
        </div>
        @*<div class="col-md-4">
            <div id="expense-categories-pie">Expense Transactions</div>          
        </div>
        <div class="col-md-4">
            <div id="income-categories-pie">Income Transactions</div>
        </div>*@      
    </div>
</div>
@section scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
        $(function () {
            $.post('@Url.Action("GetSpendingCategoryChart","Home")').then(function (response) {
                new Morris.Bar({
                    element: 'categories-spending-bar',
                    data: response,
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['Spending', 'Budget'],
                    resize: true
                })
            });
            $.post('@Url.Action("GetIncomeExpenseChart","Home")').then(function (response) {
                new Morris.Donut({
                    element: 'income-spending-bar',
                    data: response,
                    resize: true                 
                })
            });
        });

        @*$(function () {
            $.post('@Url.Action("GetIncomeExpenseChart","Home")').then(function (response) {
                new Morris.Donut({
                    element: 'income-spending-bar',
                    data: response,
                    resize: true
                })
            })
        });*@
        //Morris.Bar({
        //    element: 'categories-spending-bar',
        //    data: [
        //      { y: '2006', a: 100, b: 90 },
        //      { y: '2007', a: 75,  b: 65 },
        //      { y: '2008', a: 50,  b: 40 },
        //      { y: '2009', a: 75,  b: 65 },
        //      { y: '2010', a: 50,  b: 40 },
        //      { y: '2011', a: 75,  b: 65 },
        //      { y: '2012', a: 100, b: 90 },
        //      { y: '2013', a: 100, b: 90 },
        //      { y: '2014', a: 75,  b: 65 },
        //      { y: '2015', a: 50,  b: 40 },
        //      { y: '2016', a: 75,  b: 65 },
        //      { y: '2017', a: 50,  b: 40 },
        //      { y: '2018', a: 75,  b: 65 },
        //      { y: '2019', a: 100, b: 90 }
        //    ],
        //    xkey: 'y',
        //    ykeys: ['a', 'b'],
        //    labels: ['Spending', 'Budget']
        //});
    </script>
}